.questionsCol {
    padding-right: 0;
}

.title-row {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

ul {
    padding: 0;
    list-style-type: none;
}

.title-name {
    font-size: 20px;
    color: green;
}

#title-icon {
    font-size: 20px;
    vertical-align: middle;
    margin-bottom: 5px;
}
